

.main1 {
	background-color: rgb(208,208,208);
}


.header {
	text-align: center;
	font-family: impact;
	font-size: 3em;
	color: #0066cc;
	padding-top: 5%
	
}


.button {
	text-align: center;

}

.dice {
	text-align: center;
	padding-top: 4%

}

.dice2 {
	text-align: center;

}

.result {
	text-align: center;
	border: 2px solid green;
}